* {
  font-size: 18px;
  font-weight: 500;
}

.card {
  text-align: center;
  color: white;
}

#intro {
  padding: 5em;
  position: relative;
  top: 20%;
}

h1 {
  padding-top: 1.5em;
  line-height: 80px;
  font-size: 50px;
}

.card-footer {
  background-color: transparent;
  border: transparent;
  margin-top: 300px;
}

#about-us {
  text-align: center;
  padding: 3em;
}

#services {
  text-align: center;
  padding-top: 6em;
}

#whatWeDo {
  text-align: center;
  padding: 3em;
}

#icons {
  padding-top: 2em;
}

.design-hidden {
  display: none;
}

.development-hidden {
  display: none;
}

.product-hidden {
  display: none;
}

#contact {
  text-align: center;
  padding-top: 6em;
}

.form-control {
  background: transparent;
  border-width: 0.5px;
}

::placeholder {
  color: white;
  opacity: 1;
}

#textArea {
  margin-top: 30px;
}

#submitBtn {
  padding: 0.2em 3em;
  margin-top: 0.5em;
  background: grey;
}

#submitBtn:hover {
  background: rgb(202, 144, 35);
}

#footer {
  margin-left: 35%;
  margin-top: 2em;
  text-align: center;
  display: inline-flex;
}
