* {
  font-size: 18px;
  font-weight: 500;
}

.card {
  text-align: center;
  color: white;
}

#intro {
  padding: 5em;
  position: relative;
  top: 20%;
}

h1 {
  font-size: larger;
  padding-top: 3em;
}

.card-footer {
  background-color: transparent;
  border: transparent;
  margin-top: 300px;
}

#about-us {
  text-align: center;
  padding: 3em;
}

#services {
  text-align: center;
  padding-top: 6em;
}
